@font-face{
    font-family: "futura light";
    src: url("https://cdn.glitch.global/52092fac-0ca6-4067-87eb-cf9f2c90fdaf/FUTURA%20LIGHT%20BT.TTF?v=1678375619611") format("truetype");
  }
  @font-face{
    font-family: "futura heavy";
    src: url("https://cdn.glitch.global/52092fac-0ca6-4067-87eb-cf9f2c90fdaf/FuturaHeavy.otf?v=1678776165667");
  }
  
  *, *::before, *::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
  }
@media print{
.noprint{
visibility:hidden;
}
}
  html, body, #main-wrapper{
    max-width: 100%;
    overflow-x: hidden;
  }
  #main-wrapper{
    margin-top:50px;
    overflow-y:hidden;
  }


.x{
text-decoration:line-through red;
}


  /* disables iOS phone number blue text and underline */
  a[href^=tel]{ color:#000; text-decoration:none;} 


  #allergy-menu ul{
    display:grid;
    width:100vw;
    justify-content:space-around;
    flex-wrap:wrap;
    grid-template-areas:
      "a b c d"
      "e f g h"
  }
  #full-menu{grid-area:a}
  #gluten-free{grid-area:b}
  #nut-free{grid-area:c}
  #dairy-free{grid-area:d}
  #garlic-free{grid-area:e}
  #shellfish-free{grid-area:f}
  #vegetarian{grid-area:g}
  #vegan{grid-area:h}
  @media(max-width:475px){
    #allergy-menu ul{
      grid-template-areas:
        "a b"
        "c d"
        "e f"
        "g h"
    }
  }
  #allergy-menu li{
    list-style-type:none;
    border:2px solid black;
    padding:5px 10px;
    margin:10px;
    border-radius:10px;
    font-family:futura light;
    background:#ccc;
    box-shadow:3px 3px 6px #444;
    cursor:pointer;
    transition: all 300ms linear;
    text-align:center;
  }
  #allergy-menu li:hover{
    background:#888;
    color:white;
  }
  #allergy-menu .allergy-active-page{
    background:#000;
    color:white;
    pointer-events:none;
    border:2px solid yellow;
  }
  #allergy-menu .allergy-active-page:hover{
    background:#000;
    color:white;
    cursor:default;
  }
  .hidden{
    opacity:0.3;
    pointer-events:none;
  }
  #dinner-wrapper,
  #dessert-wrapper,
  #specials-wrapper,
  #wine-wrapper,
  #drinks-wrapper{
    padding-bottom:30px;
    display:grid;
    place-items:center;
    min-height:100vh;
    width:100%;
    transition:all 1s;
    position:absolute;
  }
  #wine-wrapper{
    z-index:-10;
  }
  
  #dinner-wrapper{
    right:0;
  }
  #specials-wrapper,
  #drinks-wrapper,
  #dessert-wrapper,
  #wine-wrapper
  {
    right:110vw;
    -moz-overflow:hidden;
  }
  #wine-menu{
    max-height: 8000px;
    overflow:hidden;
  }
  .height0{
    height:0;
    overflow:hidden;
    -moz-overflow:hidden;
  }
  #dinner-menu,
  #dessert-menu,
  #wine-menu,
  #drinks-menu,
  #specials-menu
  {
    margin: 0 auto;
    padding:1cm;
    width: 8.5in;
    box-shadow: 0 0 50px #ccc;
  }
  #wine-menu,
  #drinks-menu{
    width:8in;
  }
  #drinks-menu,
  #wine-menu,
  #specials-menu{
    background:white;
    border:1px solid black;
  }
  #dessert-menu{
    width: 5in;
  }
  #dinner-menu,
  #dessert-menu
  {
    background-image: url('https://cdn.glitch.global/52092fac-0ca6-4067-87eb-cf9f2c90fdaf/menu-background.png?v=1678375093842');
    background-repeat:no-repeat;
    background-size:cover;
  }
  #specials-menu{
    width:4.25in;
  }
  #dessert-menu .chef{
    margin-top:15px;
  }
  p,h1{
    padding:10px 25px;
  }
  #specials-menu p,
  #drinks-menu p,
  #wine-menu p{
    padding-left:0;
    padding-right:0;
  }

  h1{
    padding-bottom:0;
    padding-top:0;
    font-size:50px;
    font-weight:100;
    font-family:futura light, sans-serif;
  }
  .name{
    font-family:futura light, sans-serif;
    font-size:20px;
    font-weight:700;
  }
  #drinks-menu .name,
  #wine-menu .name{
    font-family:futura heavy, sans-serif;
    font-weight:100;
    font-size:16px;
  }
  .description{
    font-family:serif;
    font-size:16px;
  }
  #drinks-menu .description,
  #wine-menu .description{
    font-family:futura light, sans-serif;
  }
  #top, #bottom, footer{
    display:flex;
  }
  #top{
    margin-top:20px;
  }
  .half{
    flex:1;
  }
  #sides, h2{
    font-family:futura light, sans-serif;
    font-weight:900;
    font-size:30px;
    padding-bottom:0;
  }
h2{
font-family:futura heavy, sans-serif;  
margin-top:50px;
}
  h3{
    font-family:futura light, sans-serif;
    font-weight:900;
    font-size:30px;
  }
h4{
margin-top:25px;
font-family:futura heavy, sans-serif;
}
  .chef{
    font-family:futura light, sans-serif;
    font-size:20px;
    font-weight:900;
    margin-bottom:5px;
  }
  .legal{
    font-family:serif;
    font-weight:100;
    font-size:11px;
  }
  #tasting, #bottom, #deli{
    border:1px solid black;
  }
  .line{
    width:100%;
    border-top: 1px solid black;
  }
  footer{
    margin-top:20px;
  }
  nav{
    z-index:100;
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    background:#aaa;
    padding: 0 20px;
    font-size:19px;
    color:#ccc;
    border-top:2px solid #000;
    border-bottom:2px solid #000;
  }
  nav ul{
    display:flex;
    justify-content:space-between;
  }
  nav ul li{
    background:#aaa;
    color:black;
    padding:0 3px;
    list-style-type:none;
    font-family:futura light,sans-serif
  }
  nav ul li:hover{
    cursor:pointer;
    background:#888888;
  }
  .current-page{
    color:white;
    background:black;
  }
  .current-page:hover{
    background:black;
    cursor:default;
  }
  h6{
    font-family:futura heavy, sans-serif;
    font-size:16px;
    font-weight:100;
  }
  
  @media(max-width:800px){
    #dinner-menu,
    #drinks-menu,
    #wine-menu{
      width:100vw;
    }
  }
  @media(max-width:700px){
    #dinner-menu{
      padding: 5px 5px 40px 5px;
    }
      #dinner-menu h1{
        padding-left:0; 
        padding-right:0;
      }
      #dinner-menu p, #dinner-menu h2{
        padding-left:5px; 
        padding-right:5px;
      }
    
  }
  @media(max-width:400px){
    #specials-menu{
      width:100vw;
    }
  }
  @media(max-width:450px){
    #dessert-menu,
    #drinks-menu{
      width:100vw;
      padding: 0.5cm;
    }
    #dessert-menu p{
      padding-left:0;
      padding-right:0;
    }
    
  }
  #modal-wrapper{
    display:none;
    place-items:center;
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    background:#888888ee;
    inset:0;
    width:100vw;
    height:100vh;
    padding:10px;
  }
  #modal img{
    border-radius:25px;
    max-width: 95vw;
    max-height:75vh;
  }
  figure{
    display:table;
    position:relative;
  }
  figcaption{
    display:table-caption;
    caption-side:bottom;
    background:#ccc;
    padding:10px;
    border-radius:25px;
    font-family:futura light, sans-serif;
  }
  #close-modal{
    font-size:50px;
    background:white;
    display:inline-block;
    width:50px;
    height:50px;
    display:grid;
    place-items:center;
    border-radius:50%;
    line-height:0;
    position:absolute;
    top:5px;
    right:5px;
    border:1px solid black;
    cursor:pointer;
    box-shadow: 2px 2px 4px grey;
    font-weight:900;
    transition: all 500ms;
  }
  #close-modal:hover{
    background:#888;
    color:white;
    transform: rotate(90deg);
  }
  .allergies{
    color:red;
    font-family:futura light, sans-serif;
  }
  #liquors-flexbox{
    display:flex;
    justify-content:space-between;
  }
@media(max-width:525px){
#liquors-flexbox{
flex-direction:column;
}
}